.main_layout{
	margin: 0 auto; padding:1px; width: 100%;border:1px solid #cccccc;
}
.body{
	margin: 0 auto; padding:1px; width: 100%;border:1px solid #cccccc; overflow-x: auto; 
}
.dis_none{
	display: none;
}